html {
  font-size: 16px;
}

/* header and navigation section */

header {
  background-image: url('../images/20190517_4810.jpg');
  background-color: rgb(0, 0, 0);
  background-size: cover;
  min-height: 600px;
}

header h1,
header h2 {
  color: rgb(256, 256, 256);
  line-height: 3rem;
  margin-left: 2rem;
}

header h1 {
  text-transform: uppercase;
  margin-top: 14rem;
  letter-spacing: .5rem;
  font-size: 3rem;
}

nav {
  background-color: rgba(256, 256, 256, .5);
  padding: 1%;
  text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  min-width: 200px;
}

/* main content section */

main {
  margin: 0 auto;
  width: 94%;
  padding: 3%;
}

section > h2 {
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid black;
}

.gallery img {
  max-width: 30%;
  height: auto;
  margin: 10px;
}

/* footer section */

footer {
  text-align: center;
}